.myox{
    text-align: center;
    background-color: #F3F3F3;
    border: 1px solid transparent;
    margin: auto;
}
.myox h3{
    color: #333333;
    font-size: 18px;
    font-family: Montserrat,sans-serif;
}
.myox h2{
    color: #333333;
    font-size: 14px;
    padding: 20px;
}
.myox p{
    color: #333333;
    font-size: 16px;
    padding:"0px 10px"
}
.myox h4{
font-size: 14px;
text-decoration: underline solid rgb(51,51,51);
/* margin-bottom: 50px; */
}


.form{
    
    background-color: #FFFFFF;
    width: 400px;
    border: 1px solid transparent;
    margin: auto;
    padding:"10px" ;
}
.form h3{
    /* margin-top: 40px; */
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
}

.gg{
    border: 2px solid #F2F2F2;
    height: 50px;
    width: 350px;
    background-color: #FFFFFF;
    font-size: 20px;
}
.inpsignup{
    height: 40px;
    width: 362px;
    font-weight: 700;
    line-height: 20px;
    color: #333333;
    text-align: center;

    border-bottom: 2px solid #8d8585;
    /* border: none; */
    background: 0% 0%;
}
.checkbox{
    display: flex;
    justify-content:space-evenly;
}
.checkbox p{
    margin-right: 90px;
}
.checkbox input{
    background-color: #333333;
}
.chekbox{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    background-color: #F6F6F6;
    font-size: 12px;
}
.chekbox input{
    width: 170px;
    border: 2px solid #333333;
    margin-top: 70px;
    color: #333333;
}
span{
    font-size: 11px;
    font-style: italic;
    color: #333333;
}
.register{
    height: 47px;
    width: 400px;
    text-align: center;
    color: #F3F3F3;
    background-color: #333333;
    border: none;
    margin-top: 3%;
}