.link{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    display: block;
    font-weight: 700;
    padding: 3px 0px;
    margin: 4px 0px;
    text-align: center;  
} 
.link:hover {
    opacity: 0.4;
  }