* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.all-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  box-sizing: border-box;
  margin: 0px 10px;
  
}
.prt-div {
  /* border: 1px solid red; */
  margin: 10px 0px;
  border-radius: 20px;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-align: center;
  text-decoration: none;
}
.prt-div img {
  width: 70%;
}
.prt-name {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: normal;
  text-rendering: auto;
  color: #333;
  word-spacing: normal;
  padding: 20px 0p 10px;
}
.prt-type {
  margin: 2px 0;
  font-family: SourceSansPro, sans-serif;
  letter-spacing: normal;
  text-rendering: auto;
  color: rgb(99, 99, 99);
  word-spacing: normal;
  padding: 8px;
}
.prt-dis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prt-initialPrice {
  text-decoration: line-through;
  margin-right: 4px;
  color: #949494;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.prt-dis-price {
  font-weight: 600;
  color: black;
  margin-left: 8px;
}
.ety {
  padding: 5px 0px;
}
.prt-finalPrice {
  font-size: 16px;
  line-height: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  text-rendering: auto;
  color: #333;
  padding: 10px;
  word-spacing: normal;
}
.sorting-prt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 8px solid rgb(245, 245, 245);
  padding: 10px;
}
.bold-prt {
  font-weight: 600;
  margin-right: 15px;
}
.sort-prt {
  border: 0px;
  padding: 10px 0px;
  margin-right: 100px;
}
.srt-option {
  margin: 20px;
}

.view {
  display: flex;
  color: rgb(206, 206, 206);
  padding-bottom: 6px;
  border-bottom: 1.3px solid rgb(206, 206, 206);
  font-size: 18px;
  margin-bottom: 10px;
}
.view-icon {
  margin-left: 20px;
  cursor: pointer;
}
.love-icon-1{
margin-left: 20px;
cursor: pointer;
}
