.drmbox{
    height: 126px;
    width: 100%;
    border: 1px solid transparent;
    text-align: center;
    color: #333333;
    padding: 20px 10px;
    background-color: white;
}
.drmboxp{
    font-size: 12px;
}

.scnd_name{
    /* height: auto; */
    min-height: 700px;
    max-height: fit-content;
    width: 100%;
    border: 1px solid transparent;
    background-color: #F3F3F3;
}
.firstBox{
    width: 1118px;
    height: 190px;
    border: 1px solid transparent;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    color: #333333;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 20px 0px;
}

.secondBox{
    width: 1118px;
    min-height: 300px;
    max-height: fit-content;
    border: 1px solid transparent;
    margin: auto;
    margin-top: 60px;
    background-color: #FFFFFF;
}

.first{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    width: 1020px;
    margin: auto;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 20px;
    padding-bottom: 20px;
}
.second{
    width: 1020px;
    margin: auto;
    border: 1px solid transparent;
    max-height: max-content;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-around;
    
}
.mapp{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    color: #333333;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.mapp button{
    height: 40px;
    width: 227px;
    background-color: #F3F3F3;
    color: #171515;
    border: none;
    margin-top: 3px;
}
.imgwish{
    width: 100%;
    height: 60%;
    border: 1px solid rgb(235, 231, 231);
}
